{% extends 'base.html' %}

{% block head %}
    <title>Predict Your Chances for Admission</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h2>Predict Your Chances for Admission</h2>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="gre_score" id="gre_score" placeholder="GRE Score" required>
            <input type="number" name="toefl_score" id="toefl_score" placeholder="TOEFL Score" required>
            <input type="number" name="university_rating" id="university_rating" placeholder="University Rating" required>
            <input type="number" name="sop" id="sop" placeholder="SOP Score" required>
            <input type="number" name="lor" id="lor" placeholder="LOR Score" required>
            <input type="number" name="cgpa" id="cgpa" placeholder="CGPA" step="any" required>
            <select name="research" id="research" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}
